<div class="bg-dark text-center py-5 rounded-2">
    <h1 class="dispay-6 fw-bold" style="color: white;">Gestión de Productos</h1>
</div>
<div class="row mt-5">
    <div class="col-6">
        <app-productos-detalles-form />
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3" 
            *ngFor="let pro of service.list | paginate: { itemsPerPage: 3, currentPage: page }">
            <div class="flex-grow-1 mouse-hover"
            (click)="populateForm(pro)">
                <div class="fw-bold">{{ pro.nombre }}</div>
                <div class="fw-bold">{{ pro.precio }}</div>
                <div class="fw-bold">{{ pro.stock}}</div>
            </div>    
            </li>
        </ul>
    </div>
    
</div>
<div class="pagination">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>


